---
import SiteFooter from '../components/ui/SiteFooter.astro';
import SiteHeader from '../components/ui/SiteHeader.astro';
import BaseLayout from '../layouts/BaseLayout.astro';

export async function getStaticPaths() {
  return [
    { params: { slug: 'case-study' } }
  ];
}

const { page } = Astro.props;
---

<BaseLayout title={""} description={""}>
  <SiteHeader />
  <main>

  </main>
  <SiteFooter />
</BaseLayout>

<style lang="scss">
</style>
