---
import SectionLabel from './SectionLabel.astro';

interface Strength {
  title: string;
  icon: string;
  text: string;
}

interface Props {
  strengths: Strength[];
}

const { strengths } = Astro.props;
---

<section id="strengths" class="strengths section-block section-block--bordered">
  <div class="site-container">
    <SectionLabel label="STRENGTHS" />
    <div class="strengths__list">
      {strengths.map((strength) => (
        <article class="strengths__item">
          <div class="strengths__icon" aria-hidden="true" set:html={strength.icon} />
          <h3 class="strengths__title">{strength.title}</h3>
          <p class="strengths__text">{strength.text}</p>
        </article>
      ))}
    </div>
  </div>
</section>

<style lang="scss">
  .strengths {
    &__list {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      row-gap: 40px;
    }

    &__item {
      min-height: 176px;
      padding-inline: 32px;
      text-align: center;

      & + & {
        border-left: 1px solid var(--color-line);
      }
    }

    &__icon {
      display: grid;
      width: 58px;
      height: 58px;
      margin: 0 auto 26px;
      color: var(--color-blue);
      place-items: center;

      :global(svg) {
        width: 58px;
        height: 58px;
      }
    }

    &__title {
      margin: 0 0 18px;
      font-size: 14px;
      font-weight: 800;
    }

    &__text {
      margin: 0;
      color: var(--color-muted);
      font-size: 12px;
      font-weight: 650;
      line-height: 1.9;
    }
  }

  @media (max-width: 767px) {
    .strengths {
      &__list {
        grid-template-columns: 1fr;
      }

      &__item {
        padding: 0;
        text-align: left;

        & + & {
          border-left: 0;
        }
      }

      &__icon {
        margin-inline: 0;
      }
    }
  }
</style>
