---
import Button from '../ui/Button.astro';
import type { CaseStudySummary } from '../../data/caseStudies';
import CaseStudyList from '../ui/CaseStudyList.astro';
import SectionHeading from '../ui/SectionHeading.astro';

interface Props {
  studies: CaseStudySummary[];
}

const { studies } = Astro.props;
---

<section id="case-studies" class="case-studies section-block section-block--grey">
  <div class="site-container">
    <SectionHeading>FEATURED CASE STUDIES</SectionHeading>
    <CaseStudyList studies={studies} />
    <div class="case-studies__action">
      <Button href="/case-studies">View All Case Studies</Button>
    </div>
  </div>
</section>

<style lang="scss">
  @use '@styles/global' as *;

  .case-studies {
    &__action {
      display: flex;
      justify-content: center;
      margin-top: 4rem;

      @include media-sp {
        margin-top: 2.4rem;
      }
    }
  }
</style>
