---
import SectionHeading from '../ui/SectionHeading.astro';
import Button from '../ui/Button.astro';
---

<section id="contact" class="contact section-block">
  <div class="site-container">
    <SectionHeading>CONTACT</SectionHeading>
    <h2 class="section-title">
      ご連絡は下記フォームよりお気軽にどうぞ。
    </h2>
    <div class="contact__action">
      <Button href="mailto:hello@example.com">Open Contact Form</Button>
    </div>
  </div>
</section>

<style lang="scss">
  @use '@styles/global' as *;

  .contact {
    &__action {
    }
  }

  @include media-sp {
    .contact {
      &__action {
        justify-content: flex-start;
      }
    }
  }
</style>
