---
import SectionHeading from '../ui/SectionHeading.astro';
import Button from '../ui/Button.astro';
---

<section id="contact" class="contact section-block">
  <div class="site-container">
    <SectionHeading>CONTACT</SectionHeading>
    <h2 class="section-title">
      ご連絡は下記フォームよりお気軽にどうぞ。
    </h2>
    <div class="contact__action">
      <Button href="mailto:hello@example.com">Open Contact Form</Button>
    </div>
  </div>
</section>

<style lang="scss">
  .contact {
    &__action {
    }
  }

  @media (max-width: 767px) {
    .contact {
      &__grid {
        grid-template-columns: 1fr;
      }

      &__action {
        justify-content: flex-start;
      }
    }
  }
</style>
