---
---

<section
  class="hero"
>
  <div class="hero__inner site-container">
    <div class="hero__content">
      <p class="hero__subtitle">FRONTEND ENGINEER × RUNNER</p>
      <h1 class="hero__title">
        YOSHIKI YAMADA
      </h1>
      <p class="hero__lead">
        走って整えるエンジニア。<br>日々の積み重ねで身体と技術を磨き、<br>制作と開発の現場を、フロントエンドから支えます。
      </p>
    </div>
    <div class="hero__image">
      <img src="/images/hero-img.webp" alt="" />
      <p class="hero__image-caption">テキストが入ります。テキストが入ります。</p>
    </div>
    <div class="hero__bg-particle hero__bg-particle--1"></div>
    <div class="hero__bg-particle hero__bg-particle--2"></div>
  </div>
</section>

<style lang="scss">
  @use '@styles/global' as *;

  .hero {
    padding-top: 80px;
    overflow: hidden;

    @include media-sp {
      min-height: 560px;
    }

    &__inner {
      position: relative;
      z-index: 1;
      display: flex;
      align-items: center;
      min-height: 680px;

      @include media-sp {
        min-height: 560px;
      }
    }

    &__content {
      position: relative;
      z-index: 1;
    }

    &__title {
      margin: 0;
      color: var(--color-ink);
      font-size: 6.4rem;
      font-style: italic;
      font-weight: 600;
      margin-bottom: 2.4rem;

      @include media-tab {
        font-size: 52px;
      }

      @include media-sp {
        font-size: 34px;
      }
    }
    
    &__subtitle {
      font-size: 2.4rem;
      font-weight: 200;
      font-style: italic;
    }
    &__lead {
      line-height: 1.8;

      @include media-sp {
        font-size: 15px;
      }
    }

    &__image {
      position: absolute;
      top: 50%;
      right: 4rem;
      transform: translateY(-50%);
      width: 38rem;

      @include media-tab {
        width: 28rem;
        right: 2rem;
      }

      @include media-sp {
        width: 18rem;
        right: 0;
        opacity: 0.3;
      }

      img {
        height: auto;
        width: 100%;
        vertical-align: middle;
      }
    }

    &__image-caption {
      position: absolute;
      bottom: 0;
      left: 0;
      transform: translateX(-100%);
      font-size: 1.4rem;
    }

    &__bg-particle {
      position: absolute;
      top: 50%;
      transform: translateY(-50%) rotate(45deg);      
      z-index: 0;

      &--1 {
        background: var(--color-primary);
        height: 2800px;
        width: 900px;
        left: -650px;
        opacity: 0.1;
      }

      &--2 {
        background: var(--color-accent);
        height: 1200px;
        width: 90px;
        right: -285px;
        opacity: 0.5;
      }
    }
  }
</style>
