---
import SectionHeading from '../ui/SectionHeading.astro';
import HistoryItem from './history/HistoryItem.astro';

interface HistoryItem {
  title: string;
  text: string;
}

interface Props {
  histories: HistoryItem[];
}

const { histories } = Astro.props;
---

<section id="history" class="history section-block">
  <div class="site-container">
    <SectionHeading>HISTORY</SectionHeading>
    <div class="history__list">
      {histories.map((item) => (
        <HistoryItem title={item.title} text={item.text} />
      ))}
    </div>
  </div>
</section>

<style lang="scss">
  .history {
    &__list {
      position: relative;
      display: grid;
      gap: 26px;
      max-width: 850px;
      padding-left: 88px;

      &::before {
        position: absolute;
        top: 8px;
        bottom: 8px;
        left: 38px;
        width: 2px;
        content: "";
        background: #b9d8f5;
      }
    }

  }

  @media (max-width: 767px) {
    .history {
      &__list {
        padding-left: 54px;

        &::before {
          left: 18px;
        }
      }
    }
  }
</style>
