@charset "utf-8";

/*----------------------------------------------------

	サイトの基本設定のファイルです。
	最初の設定以外、基本変更することはありません。

----------------------------------------------------*/

/*--------------------------
	フォントの設定
--------------------------*/
$font-size-px: 16; //基本フォントサイズ
$font-size-rem: $font-size-px / 10; //基本フォントサイズ(rem)
$font-family: $gothic-B; //基本フォントファミリー(よく使うのはfontfamily.scssに定義されているので、そちらを参照してください。)
$font-color: #333; //基本フォントカラー
$line-height: 1.5; //行間の設定

/*--------------------------
	カラーの設定
--------------------------*/
$main-color: #99d3df; //メインのカラー
$sub-color: #f9f9f9; //サブのカラー
$base-color: #88BBD6; //ベースのカラー (背景)

/*--------------------------
	レイアウトの設定
--------------------------*/
$inner-width: 1000px; //l-innerの横幅

/*--------------------------
	グリッドのガター
--------------------------*/
$grid-gutterS: 10;
$grid-gutterM: 20;
$grid-gutterL: 40;

/*--------------------------
	レスポンシブの設定
--------------------------*/
$responsive: 1; //レスポンシブ対応なら、1

$bp-tab: 1000px; //タブレットのブレイクポイント
$bp-sp: 767px;	//スマホのブレイクポイント

/*--------------------------
  アニメーションの設定
--------------------------*/
$BPM: 120;