---
---

<main class="subpage-content">
  <slot />
</main>

<style lang="scss">
  .subpage-content {
    padding-bottom: 12rem;

    @media (max-width: 767px) {
      padding-bottom: 8rem;
    }
  }
</style>
