---
---

<main class="subpage-content">
  <slot />
</main>

<style lang="scss">
  @use '@styles/global' as *;

  .subpage-content {
    padding-bottom: 12rem;

    @include media-sp {
      padding-bottom: 8rem;
    }
  }
</style>
